* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Urbanist", sans-serif;
}

/* APP */
.app {
  height: 100vh;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

.navbar {
  width: 100vw;
  background: linear-gradient(0.35turn, rgb(1, 143, 143), rgb(0, 201, 201));
}

.container {
  max-width: 1480px;
  margin: auto;
}

.title {
  display: inline-block;
  font-family: "Urbanist", sans-serif;
  width: auto;
  color: #f4f4f4;
  font-size: 2.5rem;
  font-weight: lighter;
  padding: 10px;
  cursor: default;
}

.plot-section {
  height: 100%;
  width: 100%;
}

/* Plot */
.plot {
  margin: 10px;
  position: relative;
  height: 588px;
  min-width: 90%;
  border: 1px solid black;
  background: white;
  z-index: 0;
  box-shadow: rgb(161, 161, 161) 1px -1px 5px 1px;
}

/* Dot */
.dot {
  background: radial-gradient(rgb(216, 2, 2), darkred);
  height: 15px;
  width: 15px;
  border-radius: 50%;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.dot:hover {
  cursor: pointer;
}

.coord {
  color: #f4f4f4;

  font-size: 01rem;
}

/* Buttons and inputs */
.options-bar {
  width: 100%;
  margin: 10px;
}

.btn {
  background: linear-gradient(darkblue, rgb(0, 0, 90));
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  padding: 5px 20px;
  margin: 10px;
  color: #f4f4f4;
  border-radius: 5px;
  border: none;
}
.btn::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: red;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  opacity: 0.75;
  background: linear-gradient(darkred, rgb(0, 0, 90));
  transform: translateY(2px) translateX(1px);
}

.point-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.coord-input {
  padding: 5px 0px;
  margin: 2px;
  border-radius: 5px;
  font-size: 1rem;
  width: 3rem;
  text-align: center;
}

.coord-input:focus {
  background-color: rgb(0, 255, 255, 0.1);
  outline: none;
}

.degree-form {
  position: inherit;
  display: grid;
  width: calc(0.25 * 1480px);
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  background: #f4f4f4;
}

.radio-select {
  display: inline;
  margin: 10px;
}
